/* Font-imports */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

div#header h1{
    margin: 0 auto;
}

div#header h1 a{
    line-height: 60px;
    text-decoration: none;
    font-weight: 200;
    color: rgb(255, 255, 255);
    transition: 200ms;
}

div#header h1 a:hover{
    font-size: 1.03em;
}
div#header h2{
    font-weight: 400;
}

div#header h3{
    font-weight: 500;
}

h1{
    font-weight: 300;
}

h2{
    font-weight: 350;
}

h3{
    font-weight: 300;
}

h4{
    font-weight: 500;
}

div#header{
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

div#header nav{
    display: flex;
    margin: 0 auto;
}

div#header ul{
    width: 100%;
    background-color: rgb(75, 75, 72);
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content:space-around;
}

div#header ul li{
    flex-basis: 20%;
    text-align: center;
    transition: 200ms;
    line-height: 35px;
}

div#header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 200ms;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

div#header ul li a:hover{
    text-shadow: 1px 1px 1px black;
    font-size: 1.3em;
}

.centerText{
    text-align: center;
}

form.pageForm{
    border: none;
}

form.centerForm{
    display: flex;
    justify-content: center;
}

form.pageForm fieldset{
    border: none;
}

form.pageForm fieldset label{
    display: block;
    margin-right: 20px;
    text-align: left;
    /* width: 150px; */
}

form.pageForm fieldset button{
    margin-left: 5%;
    margin-top: 3%;
}

form.pageForm fieldset input:not([type = 'color']){
    width: 100%;
}

form.pageForm fieldset input[type = 'color']{
    width: 40px;
    height: 40px;
}

form.pageForm fieldset textarea{
    height: 100px;
    width: 200px;
}

.error{
    color: red;
}

div#formSeparator{
    width: 400px;
}

.sortForm{
    margin-top: 20px;
}

div.planDiv{
    width: 40%;
    text-align: left;
    padding: 1% 5%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: 200ms;
}

div.planDiv:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 0px 10px gray;
}

div.planDiv h2:nth-of-type(1){
    font-size: 1em;
    font-style: italic;
}

div.planDiv a{
    text-decoration: none;
    color: rgb(0, 123, 255);
}


.marginedForm{
    margin-left: 50px;
    margin-bottom: 20px;
}

table#users{
    width: 95%;
    margin: 0px auto;
    border: 1px solid black;
    margin-bottom: 10px;
}

/* margin-top property doesn't work on tables because
they have a different rendering model than block elements.
We can achieve the desired results by apply it on the table
caption. */
table#users caption{
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: 400;
}

table#users th{
    font-weight: 350;
}

table#users td, table#users th{
    border: 1px solid black;
}

table#users tbody tr:nth-child(even){
    background-color: rgb(232, 232, 232);
}

table#users tbody tr:hover{
    background-color: rgb(181, 179, 179);
}

.aButton{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    background-color: rgb(239, 238, 238);
    color: black;
}

/* To apply to text in pages like home, about, etc. */
div#wrapper{
    padding-left: 20px;
}

div#wrapper aside.navAside{
    background-color: rgb(188, 188, 188);
    /* Changing the margin-bottom of the navbar wasn't feasable. */
    margin-top: 50px;
    margin-left: -20px;
    position: fixed;
    border: 1px solid rgb(188, 188, 188);
}

/* To remove the effect of importing wysiwyg css. */
div#wrapper main{
    font-family: "Roboto", sans-serif;
    margin-left: 250px;
}

div#wrapper main h1{
    font-weight: 300;
    font-size: 2em;
}

div#wrapper main label{
    font-weight: 400;
}
div#wrapper aside.navAside nav ul{
    padding-left: 0px;
    margin: 0px;
}
div#wrapper aside.navAside nav li{
    list-style: none;
    line-height: 50px;
    font-size: 1.25em;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

div#wrapper aside.navAside nav li:nth-child(even){
    background-color: white;
}

div#wrapper aside.navAside nav li a{
    text-decoration: none;
    color: black;
}