div#header{
    background-color: rgb(250, 214, 218);
}

div#header h1{
    color: red;
}

div#header nav{
    display: flex;
    margin: 0 auto;
}

div#header ul{
    width: 100%;
    background-color: rgb(246, 246, 209);
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content:space-around;
}

div#header ul li{
    flex-basis: 20%;
    text-align: center;
}

div#header ul li a{
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 1.2em;
}

div#header ul li a:hover{
    text-shadow: 1px 1px 1px red;
}

.centerText{
    text-align: center;
}

form.pageForm{
    border: none;
    margin-left: 36%;
}

form.pageForm fieldset{
    border: none;
}

form.pageForm fieldset label{
    display: block;
    margin-right: 20px;
    text-align: left;
    width: 60px;
}

form.pageForm fieldset button{
    margin-left: 5%;
}

form.pageForm fieldset input{
    width: 100%;
}

form.pageForm fieldset textarea{
    height: 100px;
    width: 200px;
}

.error{
    color: red;
}

div#formSeparator{
    width: 400px;
}

.sortForm{
    margin-top: 20px;
}