<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /wd2/Final%20Project/HealthMetLife/admin/

    RewriteRule ^login/?$ login.php
    
    RewriteRule ^plans/([a-zA-Z0-9-]+)/?$ plans.php?page_num=$1 [L]
    
    RewriteRule ^show/([0-9]+)/([a-zA-Z0-9-]+)/?$ showPlan.php?plan_id=$1&p=$2 [L]

    RewriteRule ^([0-9]+)/([a-zA-Z0-9-]+)/?$ index.php?page_id=$1&p=$2 [L]
</IfModule> 